<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="row blog-page">

      <!-- Start Blog Posts -->
      <div class="col-md-9 blog-box" ng-repeat="blogpost in blogpostList">

        <!-- Start Post -->
        <div class="blog-post image-post">
          <!-- Post Thumb -->
          <div class="post-head">
            <a class="lightbox" title="This is an image title" href="http://placehold.it/1024x620/eee">
              <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
              <img alt="" src="http://placehold.it/848x350/333/666">
            </a>
          </div>
          <!-- Post Content -->
          <div class="post-content">
            <div class="post-type"><i class="icon-picture-3"></i></div>
            <h2><a ng-href="#/blog/{{ blogpost.slug }}">{{ blogpost.title }}</a></h2>
                <ul class="post-meta">
                  <li>By {{ blogpost.author }}</li>
                    <li>{{ blogpost.created_at }}</li>
                    <!--<li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>-->
                    <li><a href="#">{{ comments.length }} Comments</a></li>
                </ul>
                <p>{{ blogpost.short }}</p>
                <a class="main-button" ng-href="#/blog/{{ blogpost.slug }}">Read More <i class="icon-right-small"></i></a>
          </div>
        </div>
        <!-- End Post -->

                    <!-- Start Post -->
                    <div class="blog-post video-post">
                        <!-- Post Video -->
                      <div class="post-head">
                          <iframe src="http://player.vimeo.com/video/78468485?title=0&amp;byline=0&amp;portrait=0" width="800" height="450" frameborder="0"></iframe>
                        </div>
                        <!-- Post Content -->
          <div class="post-content">
                          <div class="post-type"><i class="icon-video-3"></i></div>
            <h2><a href="#">Iframe Video Post</a></h2>
                            <ul class="post-meta">
                              <li>By <a href="#">ZoOmArts</a></li>
                                <li>December 30, 2013</li>
                                <li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                                <li><a href="#">4 Comments</a></li>
                            </ul>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            <a class="main-button" href="#">Read More <i class="icon-right-small"></i></a>
          </div>
        </div>
                    <!-- End Post -->

                    <!-- Start Post -->
                    <div class="blog-post audio-post">
                        <!-- Post SoundCloud Iframe -->
                      <div class="post-head">
                          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/56520796&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
                        </div>
                        <!-- Post Content -->
          <div class="post-content">
                          <div class="post-type"><i class="icon-note"></i></div>
            <h2><a href="#">Iframe Audio Post</a></h2>
                            <ul class="post-meta">
                              <li>By <a href="#">ZoOmArts</a></li>
                                <li>December 30, 2013</li>
                                <li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                                <li><a href="#">4 Comments</a></li>
                            </ul>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            <a class="main-button" href="#">Read More <i class="icon-right-small"></i></a>
          </div>
        </div>
                    <!-- End Post -->

                    <!-- Start Post -->
                    <div class="blog-post standard-post">
                        <!-- Post Content -->
          <div class="post-content">
                          <div class="post-type"><i class="icon-pencil-4"></i></div>
            <h2><a href="#">Standard Post Without Image</a></h2>
                            <ul class="post-meta">
                              <li>By <a href="#">ZoOmArts</a></li>
                                <li>December 30, 2013</li>
                                <li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                                <li><a href="#">4 Comments</a></li>
                            </ul>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            <a class="main-button" href="#">Read More <i class="icon-right-small"></i></a>
          </div>
        </div>
                    <!-- End Post -->

                    <!-- Start Post -->
                    <div class="blog-post standard-post">
                        <!-- Post Thumb -->
                      <div class="post-head">
                          <a href="#">
                                <div class="thumb-overlay"><i class="icon-link"></i></div>
                                <img alt="" src="http://placehold.it/848x350/333/666">
                            </a>
                        </div>
                        <!-- Post Content -->
          <div class="post-content">
                          <div class="post-type"><i class="icon-pencil-4"></i></div>
            <h2><a href="#">Standard Post With Image</a></h2>
                            <ul class="post-meta">
                              <li>By <a href="#">ZoOmArts</a></li>
                                <li>December 30, 2013</li>
                                <li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                                <li><a href="#">4 Comments</a></li>
                            </ul>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            <a class="main-button" href="#">Read More <i class="icon-right-small"></i></a>
          </div>
        </div>
                    <!-- End Post -->

                    <!-- Start Post -->
                    <div class="blog-post link-post">
                        <!-- Post Content -->
          <div class="post-content">
                          <div class="post-type"><i class="icon-link-1"></i></div>
            <h2><a href="#">Link Post</a></h2>
                            <ul class="post-meta">
                              <li>By <a href="#">ZoOmArts</a></li>
                                <li>December 30, 2013</li>
                                <li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                                <li><a href="#">4 Comments</a></li>
                            </ul>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            <a class="main-button" href="#">Read More <i class="icon-right-small"></i></a>
          </div>
        </div>
                    <!-- End Post -->

                    <!-- Start Post -->
                    <div class="blog-post gallery-post">
                        <!-- Post Gallery -->
                      <div class="post-head">
                          <div class="post-slider touch-slider">
                                <div class="item">
                                    <a class="lightbox" title="This is an image title" href="http://placehold.it/1024x620/eee" data-lightbox-gallery="gallery1">
                                        <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                                        <img alt="" src="http://placehold.it/848x350/333/666">
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="lightbox" title="This is an image title" href="http://placehold.it/1024x620/eee" data-lightbox-gallery="gallery1">
                                        <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                                        <img alt="" src="http://placehold.it/848x350/333/666">
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="lightbox" title="This is an image title" href="http://placehold.it/1024x620/eee" data-lightbox-gallery="gallery1">
                                        <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                                        <img alt="" src="http://placehold.it/848x350/333/666">
                                    </a>
                                </div>
                          </div>
                        </div>
                        <!-- Post Content -->
          <div class="post-content">
                          <div class="post-type"><i class=" icon-picture-1"></i></div>
            <h2><a href="#">Gallery Post With Nice Lightbox.</a></h2>
                            <ul class="post-meta">
                              <li>By <a href="#">ZoOmArts</a></li>
                                <li>December 30, 2013</li>
                                <li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                                <li><a href="#">4 Comments</a></li>
                            </ul>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            <a class="main-button" href="#">Read More <i class="icon-right-small"></i></a>
          </div>
        </div>
                    <!-- End Post -->

          <!-- Start Post -->
          <div class="blog-post quote-post">
              <!-- Post Content -->
              <div class="post-content">
                  <div class="post-type"><i class="icon-quote-left-1"></i></div>
                  <div class="qoute-box">
                      <a href="#">
                          <h2>Throughout life people will make you mad, disrespect you and treat you bad. Let God deal with the things they do, cause hate in your heart will consume you too.</h2>
                          <div class="qoute-author">John Kennedy</div>
                      </a>
                  </div>
                  <ul class="post-meta">
                      <li>By <a href="#">ZoOmArts</a></li>
                      <li>December 30, 2013</li>
                      <li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                      <li><a href="#">4 Comments</a></li>
                  </ul>
              </div>
          </div>
          <!-- End Post -->

          <!-- Start Pagination -->
          <div id="pagination">
            <span class="all-pages">Page 1 of 3</span>
              <span class="current page-num">1</span>
              <a class="page-num" href="#">2</a>
              <a class="page-num" href="#">3</a>
              <a class="next-page" href="#">Next</a>
          </div>
          <!-- End Pagination -->

      </div>
      <!-- End Blog Posts -->


      <!--Sidebar-->
      <div class="col-md-3 sidebar right-sidebar" ng-include="'partials/sidebar.html'"></div>