<!-- Start Home Slider -->
<div id="slider">

  <!-- START REVOLUTION SLIDER 3.1 rev5 fullwidth mode -->
  <div class="fullwidthbanner-container">
    <div class="fullwidthbanner" >
      <ul>
        <!-- SLIDE 1 -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
          <!-- MAIN IMAGE -->
          <img src="images/slide1_background.png" data-fullwidthcentering="on" alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

          <div class="tp-caption sfl start"
            data-x="center"
            data-y="center"

            data-speed="1000"
            data-start="500"
            data-easing="Power1.easeOut"><img src="images/slide1_logo.png" alt="" />
          </div>

          <div class="tp-caption sfl start"
            data-x="center"
            data-y="405"

            data-speed="1000"
            data-start="1500"
            data-easing="Power1.easeOut"><img src="images/slide1_baseline-{{ langCode }}.png" alt="" />
          </div>
        </li>

        <!-- SLIDE 2  -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
          <!-- MAIN IMAGE -->
          <img src="images/slide2_background.png" data-fullwidthcentering="on" alt="slidebg2"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

          <div class="tp-caption sfl start"
            data-x="center"
            data-y="bottom"

            data-speed="1000"
            data-start="1000"
            data-easing="Power1.easeOut"><img src="images/slide1_baseline-en.png" alt="" />
          </div>

        </li>

      </ul>
      <div class="tp-bannertimer" style="visibility:hidden;"></div>
    </div>
  </div>

  <!-- THE SCRIPT INITIALISATION -->
  <!-- LOOK THE DOCUMENTATION FOR MORE INFORMATIONS -->
  <script type="text/javascript">
    var revapi;
    jQuery(document).ready(function() {
      revapi = jQuery('.fullwidthbanner').revolution({
        delay:9000,
        startwidth:1140,
        startheight:450,
        hideThumbs:200,

        thumbWidth:100,
        thumbHeight:50,
        thumbAmount:3,

        navigationType:"none",
        navigationArrows:"solo",
        navigationStyle:"round",

        touchenabled:"on",
        onHoverStop:"on",

        navigationHAlign:"center",
        navigationVAlign:"bottom",
        navigationHOffset:0,
        navigationVOffset:20,

        soloArrowLeftHalign:"left",
        soloArrowLeftValign:"center",
        soloArrowLeftHOffset:20,
        soloArrowLeftVOffset:0,

        soloArrowRightHalign:"right",
        soloArrowRightValign:"center",
        soloArrowRightHOffset:20,
        soloArrowRightVOffset:0,

        shadow:0,
        fullWidth:"on",
        fullScreen:"off",
        lazyLoad:"on",

        stopLoop:"off",
        stopAfterLoops:-1,
        stopAtSlide:-1,

        shuffle:"off",

        hideSliderAtLimit:0,
        hideCaptionAtLimit:0,
        hideAllCaptionAtLilmit:0,
        startWithSlide:0,
      });
    });
  </script>

</div>
<!-- End Home Slider -->

<!-- Start Full Width Section 1 -->
<div class="section" style="padding-top:60px; padding-bottom:30px; border-top:0; border-bottom:0; background:#fff">
  <div class="container">

    <!-- Start Services Icons -->
    <div class="row">
      <div ng-repeat="feature in features" class="col-md-3 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
        <div class="service-icon">
          <img src="images/{{ feature.filename }}"/>
        </div>
        <div class="service-content">
          <h4>{{ page.features[feature.id].title }}</h4>
          <p bind-html-unsafe="page.features[feature.id].text"></p>
        </div>
      </div>
    </div>
    <!-- End Services Icons -->

  </div>
</div>
<!-- End Full Width Section 1 -->

<div class="section">
  <button ng-click="$storage.facebook = !$storage.facebook">Allow</button>
  <div ng-if="$storage.facebook">
    <div class="fb-like" data-href="https://www.facebook.com/lupolibero.net" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
    <div id="fb-root"></div>
  </div>
  <facebook-sdk ng-if="$storage.facebook"></facebook-sdk>
  <div ng-if="!$storage.facebook">
    FB-grisé {{likes}}
  </div>

  <button ng-click="$storage.twitter = !$storage.twitter">Allow</button>
  <a ng-if="$storage.twitter" data-show-count href="https://twitter.com/lupo_libero" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @lupo_libero</a>
  <twitter-sdk ng-if="$storage.twitter"></twitter-sdk>
  <div ng-if="!$storage.twitter">
    Twitter-grisé {{ numberFollower }}
  </div>
</div>
