<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en" ng-app="site">
<head>
  <meta charset="utf-8">
  <meta name="viewport"    content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Venda - Responsive HTML5 Template">
  <meta name="author"      content="ZoOm Arts">

  <title>Venda | Right Sidebar</title>

  <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="css/settings.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="css/responsive.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="css/colors/blue.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="css/fontello.css"/>

  <link rel="stylesheet" type="text/css" media="screen" href="vendor/angular-social/angular-social.css"/>


  <!--[if IE 7]><link rel="stylesheet" href="css/fontello-ie7.css"><![endif]-->
  <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body ng-controller="ContainerCtrl">
  <div id="container">

    <div class="hidden-header"></div>
    <!-- Header -->
    <header class="clearfix">

      <!-- Top Bar -->
      <div class="top-bar">
        <div class="container">
          <div class="row">

            <!-- Start Social Links -->
            <div class="col-md-6">
              <ul class="social-list">
                <li><a class="facebook sh-tooltip" data-placement="bottom" title="Facebook"    href="#"><i class="icon-facebook-2"></i></a></li>
                <li><a class="twitter sh-tooltip"  data-placement="bottom" title="Twitter"     href="#"><i class="icon-twitter-2" ></i></a></li>
                <li><a class="google sh-tooltip"   data-placement="bottom" title="Google Plus" href="#"><i class="icon-gplus"     ></i></a></li>
                <li><a class="linkdin sh-tooltip"  data-placement="bottom" title="Linkedin"    href="#"><i class="icon-linkedin"  ></i></a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <!-- End Top Bar -->

      <!-- Start Header ( Logo & Navigation ) -->
      <div class="navbar navbar-default navbar-top">
        <div class="container">

          <!-- Stat Toggle Nav Link For Mobiles -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="icon-menu-1"></i>
            </button>
            <a class="navbar-brand" href="index.html"><img alt="" src="images/venda.png"></a>
          </div>

          <!-- Collapse -->
          <div class="navbar-collapse collapse">

            <!-- Stat Search -->
            <div class="search-side">
              <a href="#" class="show-search"><i class="icon-search-1"></i></a>
              <div class="search-form">
                <form autocomplete="off" role="search" method="get" class="searchform" action="#">
                  <input type="text" value="" name="s" id="s" placeholder="Search the site...">
                </form>
              </div>
            </div>

            <!-- Start Navigation List -->
            <ul class="nav navbar-nav navbar-right">
              <li><a translate>Home</a></li>
              <li><a translate>Presentation</a></li>
              <li><a translate>Blog</a></li>
              <li><a translate>Contact</a></li>
            </ul>
            <!-- End Navigation List -->

          </div>
          <!-- End Collapse -->

        </div>
      </div>
      <!-- End Header ( Logo & Naviagtion ) -->

    </header>
    <!-- End Header -->

    <!-- Start Page Banner -->
    <div class="page-banner no-subtitle">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h2>{{ title }}</h2>
          </div>
          <div class="col-md-2">
            <breadcrumb></breadcrumb>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <!-- Page Content -->
          <div class="page-content" ng-view></div>
        </div>
      </div>
    </div>

    <!-- Start Footer -->
    <footer>
      <div class="container">
        <div class="row footer-widgets">

          <!-- Start Contact Widget -->
          <div class="col-md-3">
            <div class="footer-widget contact-widget">
              <h4>Contact info<span class="head-line"></span></h4>
              <ul>
                <li><span>Address:</span> 16, rue Madame de Sévigné</li>
                <li><span>Email:</span> contact@lupolibero.com</li>
                <li><span>Website:</span> www.lupolibero.com</li>
              </ul>
            </div>
          </div>

          <!-- Start Flickr Widget -->
          <div class="col-md-3">
            <div class="footer-widget flickr-widget">
              <h4>Flicker Feed<span class="head-line"></span></h4>
              <ul class="flickr-list">
                <li><a href="#"><img alt="" src="http://placehold.it/72x65/ddd/aaa"></a></li>
                <li><a href="#"><img alt="" src="http://placehold.it/72x65/ddd/aaa"></a></li>
                <li><a href="#"><img alt="" src="http://placehold.it/72x65/ddd/aaa"></a></li>
                <li><a href="#"><img alt="" src="http://placehold.it/72x65/ddd/aaa"></a></li>
                <li><a href="#"><img alt="" src="http://placehold.it/72x65/ddd/aaa"></a></li>
                <li><a href="#"><img alt="" src="http://placehold.it/72x65/ddd/aaa"></a></li>
                <li><a href="#"><img alt="" src="http://placehold.it/72x65/ddd/aaa"></a></li>
                <li><a href="#"><img alt="" src="http://placehold.it/72x65/ddd/aaa"></a></li>
                <li><a href="#"><img alt="" src="http://placehold.it/72x65/ddd/aaa"></a></li>
              </ul>
            </div>
          </div>

          <!-- Start Twitter Widget -->
          <div class="col-md-3">
            <div class="footer-widget twitter-widget">
              <h4>Twitter Feed<span class="head-line"></span></h4>
              <ul>

                <li>
                  <p>
                    <a href="#">@RoberdKS </a>
                    Lorem ipsum dolor et, consectetur adipiscing eli.
                  </p>
                  <span>29 September 2013</span>
                </li>

              </ul>
            </div>
          </div>

          <!-- Start Subscribe & Social Links Widget -->
          <div class="col-md-3">
            <div class="footer-widget mail-subscribe-widget">
              <h4>Get in touch<span class="head-line"></span></h4>
              <p>Join our mailing list to stay up to date and get notices about our new releases!</p>
              <form class="subscribe">
                <input type="text" placeholder="mail@example.com">
                <input type="submit" class="main-button" value="Send">
              </form>
            </div>

            <div class="footer-widget social-widget">
              <h4>Follow Us<span class="head-line"></span></h4>
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="icon-facebook-2" ></i></a></li>
                <li><a class="twitter"  href="#"><i class="icon-twitter-2"  ></i></a></li>
                <li><a class="google"   href="#"><i class="icon-gplus-1"    ></i></a></li>
                <li><a class="dribbble" href="#"><i class="icon-dribbble-2" ></i></a></li>
                <li><a class="linkdin"  href="#"><i class="icon-linkedin-1" ></i></a></li>
                <li><a class="flickr"   href="#"><i class="icon-flickr-1"   ></i></a></li>
                <li><a class="tumblr"   href="#"><i class="icon-tumblr-1"   ></i></a></li>
                <li><a class="instgram" href="#"><i class="icon-instagramm" ></i></a></li>
                <li><a class="vimeo"    href="#"><i class="icon-vimeo"      ></i></a></li>
                <li><a class="skype"    href="#"><i class="icon-skype-2"    ></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Subscribe & Social Links Widget -->

        <!-- Start Copyright -->
        <div class="copyright-section">
          <div class="row">
            <div class="col-md-6">
              <p>© 2013 Venda -  All Rights Reserved</p>
            </div>
            <div class="col-md-6">
              <ul class="footer-nav">
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </footer>
    <!-- End Footer -->

  </div>
  <!-- End Container -->

  <!-- Go To Top Link -->
  <a href="#" class="back-to-top"><i class="icon-up-open-1"></i></a>

  <div id="loader">
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>

  <!-- Jquery -->
  <script src="vendor/jquery/dist/jquery.js                             "></script>
  <script src="../static/vendor/spin.js/spin.js                         "></script>

  <script src="js/jquery.migrate.js"></script>
  <script src="js/modernizrr.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/jquery.fitvids.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/nivo-lightbox.min.js"></script>
  <script src="js/jquery.isotope.min.js"></script>
  <script src="js/jquery.appear.js"></script>
  <script src="js/count-to.js"></script>
  <script src="js/jquery.textillate.js"></script>
  <script src="js/jquery.lettering.js"></script>
  <script src="js/jquery.easypiechart.min.js"></script>
  <script src="js/jquery.nicescroll.min.js"></script>
  <script src="js/jquery.parallax.js"></script>
  <script src="js/jquery.themepunch.plugins.min.js"></script>
  <script src="js/jquery.themepunch.revolution.min.js"></script>
  <script src="js/script.js"></script>

  <!-- Angular -->
  <script src="vendor/angular/angular.js                                "></script>
  <script src="vendor/angular-route/angular-route.js                    "></script>
  <script src="vendor/angular-animate/angular-animate.js                "></script>
  <script src="vendor/angular-sanitize/angular-sanitize.js              "></script>
  <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js            "></script>
  <script src="vendor/angular-gettext/dist/angular-gettext.js           "></script>
  <script src="vendor/angular-resource/angular-resource.js              "></script>
  <script src="vendor/angular-spinner/angular-spinner.js                "></script>
  <script src="vendor/angular-social/angular-social.js                  "></script>
  <script src="vendor/ngstorage/ngStorage.js                            "></script>
  <script src="vendor/angular-couchdb/couch.js                          "></script>
  <script src="js/main.js                                               "></script>

</body>
</html>
