<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en" ng-app="site">
<head>
  <meta charset="utf-8">
  <meta name="viewport"    content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Venda - Responsive HTML5 Template">
  <meta name="author"      content="ZoOm Arts">

  <title>Lupo Libero</title>

  <link rel="shortcut icon" type="image/png" href="favicon.png"/>

  <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="css/settings.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="css/responsive.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="css/colors/blue.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="css/fontello.css"/>

  <link rel="stylesheet" type="text/css" media="screen" href="vendor/angular-social/angular-social.css"/>
  <style>
    :invalid {
      box-shadow: none;
    }

    :-moz-submit-invalid {
      box-shadow: none;
    }

    :-moz-ui-invalid {
      box-shadow:none;
    }
  </style>


  <!--[if IE 7]><link rel="stylesheet" href="css/fontello-ie7.css"><![endif]-->
  <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body ng-controller="ContainerCtrl" class="boxed-page">
  <div id="container">

    <div class="hidden-header"></div>
    <!-- Header -->
    <header class="clearfix">

      <!-- Top Bar -->
      <div class="top-bar">
        <div class="container">
          <div class="row">

            <!-- Start Social Links -->
            <div class="col-md-6">
              <ul class="social-list">
                <li><a class="facebook sh-tooltip" data-placement="bottom" title="Facebook"    href="http://facebook.com/lupolibero.net"><i class="icon-facebook-2"></i></a></li>
                <li><a class="twitter sh-tooltip"  data-placement="bottom" title="Twitter"     href="https://twitter.com/lupo_libero"><i class="icon-twitter-2" ></i></a></li>
                <!-- <li><a class="google sh-tooltip"   data-placement="bottom" title="Google Plus" href="#"><i class="icon-gplus"     ></i></a></li> -->
                <!-- <li><a class="linkdin sh-tooltip"  data-placement="bottom" title="Linkedin"    href="#"><i class="icon-linkedin"  ></i></a></li> -->
              </ul>
            </div>

          </div>
        </div>
      </div>
      <!-- End Top Bar -->

      <!-- Start Header ( Logo & Navigation ) -->
      <div class="navbar navbar-default navbar-top">
        <div class="container">

          <!-- Stat Toggle Nav Link For Mobiles -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="icon-menu-1"></i>
            </button>
            <a class="navbar-brand" href="index.html"><img alt="" src="images/logo.png"></a>
          </div>

          <!-- Collapse -->
          <div class="navbar-collapse collapse">

            <!-- Stat Search -->
            <div class="search-side">
              <a href="#" class="show-search"><i class="icon-search-1"></i></a>
              <div class="search-form">
                <form autocomplete="off" role="search" method="get" class="searchform" action="#">
                  <input type="text" value="" name="s" id="s" placeholder="Search the site...">
                </form>
              </div>
            </div>

            <!-- Start Navigation List -->
            <ul class="nav navbar-nav navbar-right">
              <li><a ui-sref-active="active" ui-sref="home"         translate>Home</a></li>
              <li><a ui-sref-active="active" ui-sref="presentation" translate>Presentation</a></li>
              <li><a ui-sref-active="active" ui-sref="blog"         translate>Blog</a></li>
              <li><a ui-sref-active="active" ui-sref="contact"      translate>Contact</a></li>
            </ul>
            <!-- End Navigation List -->

          </div>
          <!-- End Collapse -->

        </div>
      </div>
      <!-- End Header ( Logo & Naviagtion ) -->

    </header>
    <!-- End Header -->

    <!-- Start Page Banner -->
    <div class="page-banner no-subtitle">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h2>{{ title }}</h2>
          </div>
          <div class="col-md-2">
            <breadcrumb></breadcrumb>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <!-- Page Content -->
          <notification-overlay></notification-overlay>
          <div class="page-content" ui-view></div>
          <div class="section">
            <button ng-click="$storage.facebook = !$storage.facebook">Allow</button>
            <div ng-if="$storage.facebook">
              <div id="fb-root"></div>
              <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
            </div>
            <facebook-sdk if="$storage.facebook"></facebook-sdk>
            <div ng-if="!$storage.facebook">
              FB-grisé {{ numberLikes }}
            </div>

            <button ng-click="$storage.twitter = !$storage.twitter">Allow</button>
            <div ng-if="$storage.twitter">
              <a data-show-count href="https://twitter.com/lupo_libero" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @lupo_libero</a>
            </div>
            <twitter-sdk if="$storage.twitter"></twitter-sdk>
            <div ng-if="!$storage.twitter">
              Twitter-grisé {{ numberFollower }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Footer -->
    <footer>
      <div class="container">
        <div class="row footer-widgets">

          <!-- Start Contact Widget -->
          <div class="col-md-3">
            <div class="footer-widget contact-widget">
              <h4>Contact info<span class="head-line"></span></h4>
              <ul>
                <li><span translate>Address:</span> 16, rue Madame de Sévigné</li>
                <li><span translate>Email:</span> contact@lupolibero.com</li>
                <li><span translate>Website:</span> www.lupolibero.com</li>
              </ul>
            </div>
          </div>


          <!-- Start Twitter Widget -->
          <div class="col-md-5">
            <div class="footer-widget twitter-widget">
              <h4>Twitter Feed<span class="head-line"></span></h4>
              <ul>
                <li ng-repeat="tweet in tweets |orderBy:'+created_at'">
                  <p>
                    <a ng-href="https://twitter.com/{{tweet.author}}">@{{tweet.author}}</a>
                    {{tweet.text}}
                  </p>
                  <span>{{tweet.created_at |date}}</span>
                </li>
              </ul>
            </div>
          </div>

          <!-- Start Subscribe & Social Links Widget -->
          <div class="col-md-3">
            <div class="footer-widget mail-subscribe-widget">
              <h4>Get in touch<span class="head-line"></span></h4>
              <p>Join our mailing list to stay up to date and get notices about our new releases!</p>
              <form class="subscribe" ng-submit="subscribe()">
                <input type="email" ng-model="subscription.email" placeholder="mail@example.com">
                <select ng-model="subscription.every" required>
                  <option value=""></option>
                  <option value="day">Day</option>
                  <option value="week">Week</option>
                  <option value="month">Month</option>
                </select>
                <input type="submit" class="main-button" value="Send">
              </form>
            </div>

            <div class="footer-widget social-widget">
              <h4>Follow Us<span class="head-line"></span></h4>
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="icon-facebook-2" ></i></a></li>
                <li><a class="twitter"  href="#"><i class="icon-twitter-2"  ></i></a></li>
                <li><a class="google"   href="#"><i class="icon-gplus-1"    ></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Subscribe & Social Links Widget -->

      </div>
    </footer>
    <!-- End Footer -->

  </div>
  <!-- End Container -->

  <!-- Go To Top Link -->
  <a href="#" class="back-to-top"><i class="icon-up-open-1"></i></a>

  <div id="loader">
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '869191793096489',
        xfbml      : true,
        version    : 'v2.0'
      });
    };
  </script>

  <!-- Jquery -->
  <script src="vendor/jquery/dist/jquery.js                             "></script>
  <script src="../static/vendor/spin.js/spin.js                         "></script>

  <script src="js/jquery.migrate.js"></script>
  <script src="js/modernizrr.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/jquery.fitvids.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/nivo-lightbox.min.js"></script>
  <script src="js/jquery.isotope.min.js"></script>
  <script src="js/jquery.appear.js"></script>
  <script src="js/count-to.js"></script>
  <script src="js/jquery.textillate.js"></script>
  <script src="js/jquery.lettering.js"></script>
  <script src="js/jquery.easypiechart.min.js"></script>
  <script src="js/jquery.parallax.js"></script>
  <script src="js/jquery.themepunch.plugins.min.js"></script>
  <script src="js/jquery.themepunch.revolution.min.js"></script>
  <script src="js/script.js"></script>

  <!-- Angular -->
  <script src="vendor/angular/angular.js                                "></script>
  <script src="vendor/angular-ui-router/release/angular-ui-router.js    "></script>
  <script src="vendor/angular-animate/angular-animate.js                "></script>
  <script src="vendor/angular-sanitize/angular-sanitize.js              "></script>
  <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js            "></script>
  <script src="vendor/angular-gettext/dist/angular-gettext.js           "></script>
  <script src="vendor/angular-resource/angular-resource.js              "></script>
  <script src="vendor/angular-spinner/angular-spinner.js                "></script>
  <script src="vendor/angular-social/angular-social.js                  "></script>
  <script src="vendor/ngstorage/ngStorage.js                            "></script>
  <script src="vendor/angular-couchdb/couch.js                          "></script>
  <script src="js/main.js                                               "></script>

</body>
</html>
