[submodule "modules/Url"]
	path = modules/Url
	url = https://github.com/LupoLibero/couch-ng-Url.git
	branch = master
[submodule "modules/Translation"]
	path = modules/Translation
	url = https://github.com/LupoLibero/couch-ng-Translation
[submodule "modules/dbSelect"]
	path = modules/dbSelect
	url = https://github.com/LupoLibero/couch-ng-dbSelect
[submodule "modules/Breadcrumb"]
	path = modules/Breadcrumb
	url = https://github.com/LupoLibero/couch-ng-Breadcrumb
[submodule "modules/Notification"]
	path = modules/Notification
	url = https://github.com/LupoLibero/couch-ng-Notification.git
[submodule "modules/lib"]
	path = modules/lib
	url = https://github.com/LupoLibero/lib.git
[submodule "modules/Directives"]
	path = modules/Directives
	url = https://github.com/LupoLibero/directives.git
