[submodule "src/Translation"]
	path = src/Translation
	url = https://github.com/LupoLibero/couch-ng-Translation.git
	branch = master
[submodule "src/Breadcrumb"]
	path = src/Breadcrumb
	url = https://github.com/LupoLibero/couch-ng-Breadcrumb
	branch = master
[submodule "src/Notification"]
	path = src/Notification
	url = https://github.com/LupoLibero/couch-ng-Notification.git
	branch = no-socket
[submodule "src/lib"]
	path = src/lib
	url = https://github.com/LupoLibero/lib.git
	branch = master
[submodule "src/Directives"]
	path = src/Directives
	url = https://github.com/LupoLibero/directives.git
	branch = master
