<!-- Start Single Post Area -->
<div class="blog-post">
  <!-- Start Single Post Content -->
  <div class="post-content">
    <div class="post-type"><i class=" icon-picture-1"></i></div>
    <h2>{{ blogpost.title }}</h2>
    <ul class="post-meta">
      <li>By <a href="#">{{ blogpost.author }}</a></li>
      <li>{{ blogpost.created_at |date }}</li>
      <li><a translate translate-n="commentNb" translate-plural="{{commentNb}} Comments">{{ commentNb }} Comment</a></li>
    </ul>
    <p style="white-space: pre-line;">{{ blogpost.long }}</p>
    <div class="post-bottom clearfix">
      <div class="post-share">
        <ul ng-social-buttons
          data-url="$location.absUrl()"
          data-title="'test'"
          data-description="'test2'"
          data-image="'http://s3.mistinfo.com/32/d8/32d8eab76f4c242f665bda66b5edc6c5.jpg'">
          <li translate>Share This Post:</li>
          <li class="social-button">
            <button class="btn btn-link pull-left" ng-click="$storage.facebook=!$storage.facebook">
              <img ng-hide="$storage.facebook" src="images/switch_button_off.png" alt="switch facebook" />
              <img ng-show="$storage.facebook" src="images/switch_button_on.png"  alt="switch facebook" />
            </button>

            <span ng-if="$storage.facebook" class="ng-social-facebook" count="{{ facebookCount }}"></span>
            <span ng-if="!$storage.facebook">FB<span ng-show="facebookCount"> ({{ facebookCount }})</span></span>

          </li>
          <li class="social-button">
            <button class="btn btn-link pull-left" ng-click="$storage.twitter=!$storage.twitter">
              <img ng-hide="$storage.twitter" src="images/switch_button_off.png" alt="switch twitter" />
              <img ng-show="$storage.twitter" src="images/switch_button_on.png"  alt="switch twitter" />
            </button>

            <span ng-if="$storage.twitter"><span class="ng-social-twitter" count="{{ twitterCount }}"></span></span>
            <span ng-if="!$storage.twitter">T<span ng-show="facebookCount"> ({{ twitterCount }})</span></span>
          </li>
          <li translate>To protect your privacy, social network links are disabled by default but you are free to enable them</li>
        </ul>
      </div>
    </div>
    <div class="author-info clearfix">
      <div class="author-image">
        <a href="#"><img alt="" src="http://placehold.it/70x70/fff/444"/></a>
      </div>
      <div class="author-bio">
        <h4>About The Author</h4>
        <p>{{ author.bio }}</p>
      </div>
    </div>
  </div>
</div>
<!-- End Single Post Area -->

  <!-- Start Comment Area -->
  <div id="spinner-comments" ng-if="!comments" us-spinner></div>
  <div id="comments" ng-if="comments">
    <h2 class="comments-title" translate translate-n="commentNb" translate-plural="{{commentNb}} Comments">{{ commentNb }} Comment</h2>
    <ol class="comments-list" ng-include="'comment.html'"></ol>
  </div> <!-- End Comment Area -->
  <div ng-include="'add_comment.html'"></div>
</div>
